.header2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../images/header2-bg.jpeg") center center no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  .header-content {
    padding-top: 3rem;
    padding-bottom: 2.125rem;
    text-align: center;
    width: 80%;
  }
  .text-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    h2 {
      margin-bottom: 0.5rem;
      color: $ltext;
    }
    .btn-custom {
      margin-right: 0.5rem;
      width: 220px;
      height: 42px;
      margin-bottom: 1.25rem;
      border-radius: 0.8rem;
    }
  }
}
