.offer {
  .header-content {
    padding-top: 3rem;
    padding-bottom: 2.125rem;
    text-align: center;
    width: 80%;
  }
  .text-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    h2 {
      margin-bottom: 0.5rem;
      color: $black;
    }
    .btn-custom {
      margin-right: 0.5rem;
      width: 220px;
      height: 42px;
      margin-bottom: 1.25rem;
      border-radius: 0.8rem;
    }
  }
  .image-container {
    overflow: hidden;
    border-radius: 0.25rem;
  }
  .image-container img {
    margin: 0;
    border-radius: 0.25rem;
    transition: all 0.3s;
  }
  .image-container:hover img {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}
