// Variables
// Colors:

$white: #fbfbfb; // - Backgrounds
$dblue: #153e52; // - Background
$dgrey: #171717; // - Backgrounds navbar, footer
$green: tomato; // - Buttons, bullets, icons
$black: #484a46; // - Headings text
$dtest: #787976; // - Body text
$ltext: #dfe5ec; // - Body text - gray #787976
// - Body text

// Font overrides
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-Montserrat: "Montserrat", sans-serif;
